// VARIABLES
$hex-mirage: #1E233B;
$hex-comet: #565A6C;
$hex-sea--buckthorn: #F8AB30;
$hex-dodger--blue: #5776FF;

// MAP
$colors: (
  black: $hex-mirage,
  gray: $hex-comet,
  orange: $hex-sea--buckthorn,
  blue: $hex-dodger--blue
);

@function color($args) {
  @return map-get($colors, $args);
}