.meeting {
   @include section-padding;
   p {width: 80%;}
   h1 {width: 50%;}
   h1, p {
      text-align: center;
      display: block;
      @include max-md {
         width: 100%;
      }
   }
   img {
      border-radius: .5em;
   }
   .down-arrow {
      margin-bottom: 4em;
   }
}

.meeting-features {
   display: flex;
   width: 90%;
   flex-wrap: wrap;
   text-align: center;
   margin: 4em auto 0 auto;
   @include max-md {margin-top: 2em;}
   .card {
      width: 50%;
      border: 0;
      border-radius: 0;
      @include max-md {
         width: 100%;
      }
   }
   .card-text {
      display: block;
      margin: 1em auto 2em auto;
      width: 80%;
      position: relative;
      color: color(gray);
      @include max-md {width: 100%;}
      &::before {
         display: block;
         width: 100%;
         z-index: 99;
         margin-bottom: 1em;
      }
   }
}

.meeting-features .card {
   border-bottom: 1px solid rgba(0,0,0,.1);
   &:nth-child(odd) {
      border-right: 1px solid rgba(0,0,0,.1);
      @include max-md {border-right: 0;}
   }
   &:nth-child(n+7) {
      border-bottom: 0;
      @include max-md {border-bottom: 1px solid rgba(0,0,0,.1);}
   }
   &:last-child {
      @include max-md {border-bottom: 0;}
   }
}

.meeting-img {
   position: relative;
   overflow: hidden;
   img {
      display: block;
      margin: 0 auto;
      @include max-sm {
         width: 90%;
         margin-bottom: 1em;
      }
      &:first-child, &:last-child {
         opacity: .5;
         position: absolute;
         z-index: -1;
         top: .5em;
         @include max-sm {
            position: static;
            opacity: 1;
         }
      }
      &:first-child {
         left: -5em;
      }
      &:last-child {
         right: -5em;
      }
   }
}