.navbar {
   background: color(blue);
   line-height: 3em;
   ul {
      border: 1px solid white;
      border-radius: 5em;
      background: rgba(255,255,255,.15);
      padding: .25em;
      li {
         margin-left: 1.5em;
      }
   }
}

.navbar-brand {
   font-family: $titillium-web;
   font-size: 1.5em;
   color: white;
   &:hover {color: white;}
}
a.nav-link {
   padding: 0 2em;
   font-size: .9em;
   font-weight: bold;
   line-height: 2.75em;
   color: white;
}
.navbar-expand-lg .navbar-nav {
   .sign-in {
      padding: 0 2em;
      background: color(orange);
      border-radius: 5em;
      &:hover {
         background: color(black);
      }
   }
}