@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Titillium+Web:700|IM+Fell+Great+Primer+SC&display=swap);
html {
  font-size: 16px;
}

* {
  transition: 0.2s;
}

.container {
  overflow: hidden;
}

::selection {
  background: #1E233B;
  color: white;
}

::-moz-selection {
  background: #1E233B;
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Open Sans", sans-serif;
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

a:hover {
  text-decoration: none;
}

input:focus {
  outline: none;
}

img {
  pointer-events: none;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: #1E233B;
  margin-bottom: 0.5em;
}

p {
  color: #565A6C;
  line-height: 1.8em;
}

.underline-mark {
  position: relative;
  z-index: 1;
}
.underline-mark:after {
  content: "";
  width: 100%;
  height: 0.75rem;
  position: absolute;
  background: #F8AB30;
  bottom: 0.5rem;
  left: 0;
  z-index: -1;
}

.subtitle {
  color: #5776FF;
  font-size: 0.8em;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.7em 2em;
  border-radius: 5em;
  position: relative;
}
button:after {
  content: "";
  position: absolute;
  top: -0.4em;
  left: -0.4em;
  right: -0.4em;
  bottom: -0.4em;
  border-radius: 5em;
}

.navbar {
  background: transparent;
  line-height: 3em;
}
.navbar ul {
  border: 1px solid white;
  border-radius: 5em;
  background: rgba(255, 255, 255, 0.15);
  padding: 0.25em;
}
.navbar ul li {
  margin-left: 1.5em;
}
@media (max-width: 991.98px) {
  .navbar ul li {
    margin: 0;
  }
}

.navbar-brand {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  color: white;
}
.navbar-brand:hover {
  color: white;
}

a.nav-link {
  padding: 0 2em;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 2.75em;
  color: white;
}

.navbar-expand-lg .navbar-nav .sign-in {
  padding: 0 2em;
  background: #F8AB30;
  border-radius: 5em;
}
.navbar-expand-lg .navbar-nav .sign-in:hover {
  background: #1E233B;
}

.hero {
  background: #33a1ff;
  background: linear-gradient(150deg, #33a1ff 0%, #6268ff 100%);
  text-align: center;
}
.hero p, .hero h1 {
  color: white;
  display: inline-block;
  width: 50%;
}
@media (max-width: 991.98px) {
  .hero p, .hero h1 {
    width: 100%;
  }
}
.hero h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}
@media (max-width: 991.98px) {
  .hero h1 {
    font-size: 3em;
  }
}
.hero p {
  opacity: 0.8;
}

.heading {
  padding: 8em 0 16em 0;
}
@media (max-width: 991.98px) {
  .heading {
    padding: 4em 0.5em 22em 0.5em;
  }
}

.quotes:before, .quotes:after {
  font-family: "IM Fell Great Primer SC", serif;
  font-weight: normal;
  opacity: 0.5;
  margin: 0 0.5rem;
}
@media (max-width: 991.98px) {
  .quotes:before, .quotes:after {
    display: none;
  }
}
.quotes:before {
  content: "“";
}
.quotes:after {
  content: "”";
}

.advantages {
  background: transparent;
  position: relative;
}
.advantages .card {
  font-weight: bold;
  text-align: center;
  background: white;
  border: 0;
  border-radius: 0;
  margin: -5.5em auto 0 auto;
  width: 50%;
  z-index: 99;
  box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.1);
  padding: 2em;
}
@media (max-width: 1199.98px) {
  .advantages .card {
    width: 90%;
  }
}
@media (max-width: 991.98px) {
  .advantages .card {
    margin-top: -18em;
  }
}
.advantages .card img {
  display: block;
  margin: 0 auto 1em auto;
}
.advantages .card-text {
  margin: 0;
  min-width: 20%;
  color: #1E233B;
}
@media (max-width: 991.98px) {
  .advantages .card-text {
    width: 100%;
    margin-bottom: 2em;
  }
}

.advantages-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 991.98px) {
  .advantages-wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.content {
  position: relative;
  padding: 4em 0;
}
@media (max-width: 991.98px) {
  .content {
    padding: 4em 0 0 0;
  }
}
@media (max-width: 1199.98px) {
  .content .heading-img {
    width: 100%;
    margin: 2em 0;
  }
}

.content .container {
  overflow: visible;
}

.features .card-group {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 2em;
}
@media (max-width: 991.98px) {
  .features .card-group {
    margin-top: 1em;
  }
}
.features .card {
  text-align: center;
  min-width: 25%;
  border: 0;
  margin: 1em 0;
  background: transparent;
}
@media (max-width: 991.98px) {
  .features .card {
    min-width: 50%;
  }
}
.features .card img {
  display: block;
  margin: 0 auto 1em auto;
}
.features .card p {
  display: block;
  padding: 0 0.2em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}
@media (max-width: 991.98px) {
  .features .card p {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
}

.why {
  background: #f0f2f5;
  background: linear-gradient(180deg, #f0f2f5 0%, white 30%, white 100%);
  padding: 6em 0;
}
@media (max-width: 991.98px) {
  .why {
    padding: 4em 0;
  }
}
.why p {
  column-count: 2;
  column-gap: 2em;
}
@media (max-width: 991.98px) {
  .why p {
    column-count: 1;
  }
}
.why img {
  display: block;
  margin: 4em auto 0 auto;
}
@media (max-width: 1199.98px) {
  .why img {
    width: 100%;
  }
}

.join h1 {
  color: white;
}
.join form {
  width: 60%;
  position: relative;
}
@media (max-width: 991.98px) {
  .join form {
    width: 100%;
  }
}
.join form label {
  display: none;
}
.join form input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}
.join form input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.join form button {
  background: #F8AB30;
  color: white;
  margin-top: 1em;
}
.join form button:after {
  background: rgba(255, 255, 255, 0.1);
  border: white 1px solid;
}
.join form button:hover {
  background: #1E233B;
  color: white;
}

.join .form-side {
  padding: 6em 4em;
  background: #5776FF;
}
@media (max-width: 991.98px) {
  .join .form-side {
    padding: 4em 1em;
  }
}

.join .form-group {
  width: 100%;
  padding: 0;
}
.join .form-group input {
  width: 100%;
  margin-bottom: 0.5em;
}
.join .form-group input#lName {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

footer {
  border: 10px solid #5776FF;
  border-top: 0;
  padding-bottom: 2em;
}
@media (max-width: 991.98px) {
  footer {
    border: 0;
    border-bottom: 10px solid #5776FF;
    padding-bottom: 1em;
    margin-top: 4em;
  }
}
footer h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
}
@media (max-width: 991.98px) {
  footer h2 {
    text-align: center;
  }
}
footer ul {
  margin-bottom: 2em;
}
@media (max-width: 991.98px) {
  footer ul {
    margin-bottom: 1em;
  }
}
footer ul li {
  padding-bottom: 0.5em;
}
footer ul li:first-child {
  color: #5776FF;
  font-weight: bold;
}
footer ul li a {
  color: #1E233B;
}
footer ul li a:hover {
  color: #1E233B;
  opacity: 0.8;
}

.copyright {
  opacity: 0.8;
}
@media (max-width: 991.98px) {
  .copyright {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
